/* styles.css */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(blue,white) no-repeat;
    border-bottom: solid 3px darkblue;
}

#help{
    position: fixed;
    right: 50px;
    top: 30px;
}

nav{
    position: fixed;
    top: 123px;
    left: 0;
    width: 5px;
    height: calc(100% - 123px);
    background: linear-gradient(to left,blue,white);
    border-right: darkblue solid 2px;
    z-index: 99;
}
#btnDesplegar{
    position: fixed;
    left: 5px;
    top: 143px;
    width: 30px;
    height: 60px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: blue;
    border-top: 2px solid darkblue;
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    cursor: pointer;
    z-index: 100;
}
#btnRecoger{
    position: fixed;
    left: 180px;
    top: 143px;
    width: 30px;
    height: 60px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: blue;
    border-top: 2px solid darkblue;
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    cursor: pointer;
    z-index: 100;
    display: none;
}
nav>p{
    /*background-color: blue;
    width: 160px;
    color: white;
    text-align: center;
    margin: 15px auto;
    border: solid 2px darkblue ;*/
    border: solid 2px darkblue ;
    text-align: center;
    margin: 10px auto;
    width: 160px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
nav>p:hover{
    background-color: darkblue;
    border: solid 3px black;
    text-decoration: underline white 2px;
}

nav>p:first-of-type{
    margin-top: 100px;
}

main{
    position: fixed;
    top: 123px;
    left: 35px;
    width: calc(100% - 35px);
    height: calc(100% - 120px);
    text-align: center;
    overflow-y: auto;
}
article{
    display: inline-block;
    width: 200px;
    height: 250px;
    background-color: blue;
    text-align: center;
    margin: 20px; 
    cursor: pointer;   
}
article>figure{
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    width: 180px;
    height: 230px;
    margin: 0;
}
figure>img{
    position: absolute;
    top: 0;
    left: 0px;
    width: 180px;
    height: 180px;
}
figure>figcaption{
    position: absolute;
    font-size: 1.3rem;
    top: 190px;
    left: 0;
    width: 180px;
    height: 26px;
    border: solid 2px black;
    color: white;
}
table{
    text-align: center;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border: solid 1px black;
}
th,td{
    width: 20%;
    border: 1px solid rgb(85, 85, 85);
}
th{
    background-color: rgb(67, 73, 109);
    color: white;
}
tr>td:first-of-type{
    font-weight: bold;
}
#filaIngredientes{
    text-align: left;
    background-color: rgb(208, 208, 244);
}
#filaIngredientes strong{
    font-weight: lighter;
    padding-left: 8px;
}
#findProducto{
    display: block;
    margin: 10px auto;
    width: 200px;
    border-radius: 15px;
    font-size: 1.5rem;
}
button{
    display: block;
    margin: 10px auto;
    width: 200px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    font-size: 1.5rem;
}
button:hover{
    background-color: darkblue;
    border: solid 3px black;
}
#exitAddProduccion{
    background-color: red;
}
#exitAddProduccion:hover{
    background-color: darkred;
    border: solid 3px black;
}
table button{
    font-size: 1rem;
    width: 100px;
}
td>input{
    width: 85%;
}
/* Add styles here to customize the appearance of your app */