form{
    text-align: left;
    width: 70%;
    margin: auto;
}
table{
    border-collapse: collapse;
}
form th{
    font-size: 1.4rem;
    background-color: rgb(64, 62, 62);
    color: white;
}
form td{
    font-size: 1.4rem;
}
td>input{
    margin-bottom: 10px;
}


button{
    background-color: rgb(34, 238, 34);
    width: 150px;
    font-size: 1.4rem;
}